@import '~bootstrap/dist/css/bootstrap.min.css';

.container {
    text-align: center;
    margin-top: 20px;

    .table {
        margin-top: 25px;
        border-radius: 5px;
        
    }
    button{
        border-radius: 17px;

    }
    
}